<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Resumos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Pesquisar resumos" color="default" animated showCancelButton="focus"></ion-searchbar>
  

  <h3 class="ion-text-center">Top Resumos</h3>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let resumo of resumosTop$ | async">
      <ion-card>
        <img [src]="getImageById(resumo.id)" />
        <ion-card-content>
          <h3><b>{{resumo.nome}}</b></h3>
          <ion-button (click)="lerResumo(resumo)" expand="full" shape="round" color="danger">Ler</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h3 class="ion-text-center">Recentes</h3>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let resumo of resumosRecentes$ | async">
      <ion-card>
        <img [src]="getImageById(resumo.id)" />
        <ion-card-content>
          <h3><b>{{resumo.nome}}</b></h3>
          <ion-button (click)="lerResumo(resumo)" expand="full" shape="round" color="danger">Ler</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h3 class="ion-text-center">Seus resumos</h3>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let resumo of meusResumos$ | async">
      <ion-card>
        <img [src]="getImageById(resumo.livro.id)" />
        <ion-card-content>
          <h3><b>{{resumo.livro.nome}}</b></h3>
          <p>{{resumo.quantidadeVisualizacoes}} visualizações</p>
          <ion-button (click)="abrirMeuResumo(resumo)" expand="full" shape="round" color="danger">Abrir</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-button expand="block" (click)="novoResumo()">Novo Resumo</ion-button>


</ion-content>
