<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Sugestões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button *ngIf="indiceResultado < 0" (click)="getSugestao()" color="danger" expand="block">Sugestão do dia</ion-button>
<ion-card *ngIf="indiceResultado >=0 ">
  <img [src]="respostas[indiceResultado].pi" />
        <ion-card-content>
          <h3><b>{{respostas[indiceResultado].p}}</b></h3>
          
          <ion-button *ngIf="indiceResultado<(respostas.length-1)" (click)="proximo()" expand="block">Próximo</ion-button>
        </ion-card-content>
</ion-card>

</ion-content>
