<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="livro.nome" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Autor</ion-label>
    <ion-input [(ngModel)]="livro.autor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Id (Imagem)</ion-label>
    <ion-input type="number" [(ngModel)]="livro.id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Páginas</ion-label>
    <ion-input type="number" [(ngModel)]="livro.totalPaginas"></ion-input>
  </ion-item>
  <ion-item *ngIf="estado==='lendo'">
    <ion-label position="floating">Página Atual</ion-label>
    <ion-input type="number" [(ngModel)]="livro.paginaAtual"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="salvar()">Salvar</ion-button>
  <ion-button expand="block" color="warning" (click)="cancelar()">Cancelar</ion-button>

</ion-content>
